*,
*::after,
*::after {
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: plum;
}

main {
    background-color: powderblue;
    height: 100vh;
    display: grid;
    grid-template-rows: 20% 7% 70%;
    justify-items: center;
}

header {
    align-self: center;
    white-space: nowrap;
    font-size: 7rem;
}

#player-indicator, #player-indicator button{
    font-size: 2rem;
    
}

.game-container {
    align-self: start;
    cursor: pointer;
    display: grid;
    grid-template-columns: repeat(3, 17vmin);
    grid-template-rows: repeat(3, 17vmin);
}

.game-square {
    border-style: solid;
    background-color: blue;
    font-size: 3.5rem;
    font-weight: bolder;
    align-content: center;
    justify-content: center;
}

.game-square:hover {
    background-color: rgb(159, 52, 230);
}